<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{LAUNCHD_LABEL_PREFIX}}.dev-agent-digest</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>{{SKILL_DIR}}/scripts/daily-digest.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>{{DIGEST_HOUR}}</integer>
        <key>Minute</key>
        <integer>{{DIGEST_MINUTE}}</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>{{SKILL_DIR}}/logs/daily-digest.log</string>
    <key>StandardErrorPath</key>
    <string>{{SKILL_DIR}}/logs/daily-digest-error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin:{{HOME}}/.local/bin</string>
    </dict>
</dict>
</plist>
